.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.footer-new{
  position: fixed;
  width: 100%;
  background-color: #545C13;
  margin-top: 1em;
  padding-top: 10px;
  font-size: 12px;
    font-family: 'Segoe UI', sans-serif;
    font-weight: normal;
    color: #fff;
    text-align: center;
}


.App-link {
  color: #61dafb;
}

.parkList{
  height: 75vh;
  width: 50%;
  padding: 5px;
  margin: auto;
  overflow: scroll;
}

.main{
  margin-top: 10px;
  margin-bottom: 25px;
  height: 25%;
}

.listItem {
  margin-bottom: 50px;
  padding: 10px;
  border: #545C13 solid 2px;
}